
#
# This file is part of Jkop
# Copyright (c) 2015 Eqela Pte Ltd (www.eqela.com)
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

moduletype: library
depends: eq.gui
depends: jkop.sprite
require-platform: html5
require-platform: chrome

IFDEF("target_html") {
	depends: eq.gui.sysdep.html5canvas
	depends: eq.gui.sysdep.html5
}

IFDEF("target_chrome") {
	depends: eq.gui.sysdep.html5canvas
	depends: eq.gui.sysdep.html5
}
